version: '3.8'

services:
  githookz:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - BUILD_CONFIGURATION=Release
    ports:
      - "5048:5048"
      - "5049:5049"
    volumes:
      - ./data:/app/Data
      - ./logs:/app/Logs